@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Feature App</h1>
    You can find some examples about how to use Feature Management. Fore more details <a target="_blank" href="https://channel9.msdn.com/Shows/NET-Community-Standups/ASPNET-Community-Standup-May-21st-2019-Introducing-MicrosoftFeatureManagement">go to Channel9</a>
</div>

<h2>List of Features</h2>
<ul>
    <li>
        <a asp-action="Index" asp-controller="Feature">Feature examples</a>
    </li>
    <li>
        <a asp-action="Inconsistency" asp-controller="Feature">Inconsistency in IFeatureManager</a>
    </li>
    <li>
        <a asp-action="Consistency" asp-controller="Feature">Consistency in IFeatureManagerSnapshot</a>
    </li>
    <li>
        <a asp-action="FeatureB" asp-controller="Feature">Random Feature Filter</a>
    </li>
    <li>
        <a asp-action="FeatureC" asp-controller="Feature">Parameters in Feature Filters</a>
    </li>
    <li>
        <a asp-action="FeatureD" asp-controller="Feature">Percentage Feature</a>
    </li>
    <li>
        <a asp-action="FeatureE" asp-controller="Feature">TimeWindow Feature</a>
    </li>
    <li>
        <a asp-action="FeatureF" asp-controller="Feature">Filters.AddForFeature</a>
    </li>
    <li>
        <a asp-action="AzureAppConfiguration" asp-controller="Feature">Integrate Azure App Configuration</a>
    </li>
</ul>
