@{
    ViewData["Title"] = "IFeatureManagerSnapshot";
}
<h1>@ViewData["Title"]</h1>

<p>In the example, <span class="text-info">IFeatureManagerSnapshot</span> is used. You will see the same value when you update <span class="text-info">appsettings.json</span>.</p>
<p>Change value of <span class="text-info">FeatureManagement:FeatureA</span> while the page is being loaded.</p>
<p>Is <span class="text-info">FeatureA</span> Enabled? : <strong>@ViewBag.FeatureA</strong></p>
