@{
    ViewData["Title"] = "TimeWindow Filters";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>TimeWindow Filter</strong> is a builtin feature from Microsoft. Feature is enabled for the specified time window.
    <span class="text-info">FeatureE</span> uses <strong>TimeWindow Filter</strong> between 2020-01-01T00:00:00+00:00 - 2022-01-01T00:00:00+00:00.
</p>

<p>Is <span class="text-info">FeatureE</span> Enabled? : <strong>@ViewBag.FeatureE</strong></p>
