@{
    ViewData["Title"] = "Random Feature Filter";
}
<h1>@ViewData["Title"]</h1>

<p>In the example, <span class="text-info">FeatureB</span> uses Random Feature Filter. You will get <strong>Yes/No</strong> randomly. Refresh the page several times.</p>
<p>Is <span class="text-info">FeatureB</span> Enabled? : <strong>@ViewBag.FeatureB</strong></p>
