@{
    ViewData["Title"] = "Percentage Filters";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Percentage Filter</strong> is a builtin feature from Microsoft. Specified percentage of requests will be enabled for the specified feature.
    <span class="text-info">FeatureD</span> uses <strong>Percentage Filter</strong> with <strong>%50</strong></p>

<p>Is <span class="text-info">FeatureD</span> Enabled? : <strong>@ViewBag.FeatureD</strong></p>
